<div id="content">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <ul class="list-group menu-style">
        <li class="list-group-item actived">Repositórios</li>
        <li class="list-group-item" data-toggle="popover" title="Recurso indisponível" data-content="Infelizmente, a pesquisa por códigos ainda não foi implementada!">Códigos</li>
        <li class="list-group-item" data-toggle="popover" title="Recurso indisponível" data-content="Infelizmente, a pesquisa por commits ainda não foi implementada!">Commits</li>
        <li class="list-group-item" data-toggle="popover" title="Recurso indisponível" data-content="Infelizmente, a pesquisa por issues ainda não foi implementada!">Issues</li>
        <li class="list-group-item" data-toggle="popover" title="Recurso indisponível" data-content="Infelizmente, a pesquisa por Usuários ainda não foi implementada!">Usuários</li>
      </ul>
      <br>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <div class="col-12">
          <div *ngIf="spinner" class="spinner-border text-dark" role="status">
          </div>
          <div *ngIf="!spinner">
            <h5> {{repositories.length}} repositórios listado(s) </h5>
          </div>
          <hr>
        </div>
      </div>
      <div *ngIf="spinner" class="row-center" style="padding-top: 10%;">
        <div class="spinner-border text-dark" role="status">
        </div>
      </div>
      <div class="row" *ngIf="!spinner">
        <div *ngFor="let repo of repositories" class="col-md-6 col-sm-12 div-card">
          <div class="card card-style" (click)="openModal(repo)">
            <div class="row">
              <div class="col-lg-3 col-md-12 column-center">
                <img class="img" src="{{repo?.owner?.avatar_url}}" width="60" >
                <span style="font-size: 65%; padding-top: 4%;">{{repo?.owner?.login}}</span>
              </div>
              <div class="col-lg-9 col-md-12">
                <div class="row">
                  <div class="col-lg-10 col-md-12 position">
                    <span class="name-repo">{{repo.name}}</span>
                  </div>
                  <div class="col-lg-2 col-md-12 row-center">
                    <span>{{repo.stargazers_count}}</span>
                    <img src="../../assets/star.png" width="24">
                  </div>
                </div>
                <div class="description">
                  <p *ngIf="repo.description.length > 110">{{repo.description.substr(0, 110)}} ...</p>
                  <p *ngIf="repo.description.length <= 110">{{repo.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="space-between" style="font-size: 80%;">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li *ngIf="actualPage > 1" class="page-item">
              <a class="page-link" (click)="backPage()" tabindex="-1">Anterior</a>
            </li>
            <li *ngIf="actualPage > 4" class="page-item" (click)="goToPage(1)" ><a class="page-link">1</a></li>
            <li *ngIf="actualPage-1 > 0" class="page-item" (click)="goToPage(actualPage-1)" ><a class="page-link">{{actualPage-1}}</a></li>
            <li class="page-item disabled" *ngIf="numberOfPages > 0">
              <a class="page-link">{{actualPage}} <span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="actualPage+2 < numberOfPages" class="page-item" (click)="goToPage(actualPage+1)"><a class="page-link">{{actualPage+1}}</a></li>
            <li *ngIf="numberOfPages > 2 && actualPage < numberOfPages" class="page-item disabled"><a class="page-link" >...</a></li>
            <li *ngIf="numberOfPages > 1 && actualPage < numberOfPages" class="page-item" (click)="goToPage(numberOfPages)"><a class="page-link">{{numberOfPages}}</a></li>
            <li *ngIf="actualPage < numberOfPages" class="page-item" (click)="nextPage()">
              <a class="page-link">Próxima</a>
            </li>
          </ul>
        </nav>
      </div>
      <modal [repositorie]="repo"></modal>
    </div>
  </div>
</div>
