.img{
  border-radius: 100px;
}
.header{
  padding: 1rem;
  background-color: black;
  color: white;
  margin: 0;
}
.body{
  padding-right: 2rem;
}
.row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.no-padding{
  padding:0;
}
.row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.padding-icon{
  padding-right: 5px;
}
.no-bottom{
  margin-bottom: 0;
}
.medium-font-size{
  font-size: 80%;
}
.small-font-size{
  font-size: 70%;
}
.description{
  font-size: 90%;
  color: grey;
}
@media screen and (max-width: 450px) {
  .private{
    font-size: 80%;
  }
}
