#content{
  padding: 4rem 8rem;;
}
.column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small-font{
  font-size: 80%;
}

.img{
  width: 28rem;
  height: 7rem;
}

@media screen and (max-width: 600px) {
  #content{
    padding: 4rem 2rem;
  }
  .img{
    width: 20rem;
    height: 5rem;
  }
}

@media screen and (max-width: 450px) {
  .img{
    width: 16rem;
    height: 4rem;
  }
}
